# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model weights (IMPORTANT)
*.pth
*.pt

# Large files / datasets
data/
datasets/
*.zip
*.tar
*.gz

# Outputs
outputs/
results/
*.png
*.jpg

# Temporary files
*.tmp

# VS Code
.vscode/

# Colab
*.ipynb~
